%p
%strong Name:
= @shot.name
%p
%strong Description:
= @shot.description
%p
%strong Notes:
%br
- @shot.notes.each do |note|
  %span=note.value
  %br
= link_to 'Edit', edit_shot_path(@shot)
|
\#{link_to 'Back', shots_path}